<div id="rsui__aboutus">
    <div class="container-fluid">
        <div class="rsui__aboutus__card">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__description">
                        <h1>About ReadyAssist</h1>
                        <p class="aboutus__tagline" style="font-size: 1.6rem;">One of the leading 24/7 roadside assistance company from India for bikes & cars.</p>
                        <p>
                            ReadyAssist intends to be the best roadside assistance provider in India by addressing the
                            real time vehicle breakdown problems of customers using deep machine learning, data intelligence and operations efficiency. We are headquartered in Bangalore, the beautiful garden city of India and also fontly called as the silicon valley of India among the startup ecosystem.</p>

                            <div class="button btn-readmore btn btn-primary mt-1"><a href="#"> Read More <i class="fa-solid fa-angle-right"></i></a></div>
                           
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="team__img">
                           <figure> <img src="./assets/images/freedom.jpg" class="img-fluid" alt="" srcset=""> </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>