<div id="rsui__subscriptionplan">
    <div class="rsui__subscriptionplan__container">
        <h1>Subscription Plan</h1>
        <div class="container rsui__subscriptionplan__card">

            <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/freedom.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <div class="title">
                                <h3 class="subtitle"> 4W Freedom Plan </h3>
                                <h4><a href="#"><i class="fa-solid fa-circle-info"></i></a></h4>
                            </div>
                            <p>Get your freedom to drive anytime anywhere in India with 24/7 Roadside assistance from ReadyAssist through our 4W Freedom plan. Th</p>
                            <p><small>Subscription will get activated in 72 hours</small></p>
                            <div class="pricing">
                                <div class="price">
                                    <div class="rupee_icon"><i class="fa-solid fa-indian-rupee-sign"></i> <span>699/-</span></div>
                                    <div class="buynow__btn">
                                        <button class="btn btn-primary ">Buy Now <i class="fa-solid fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/2-wheeler-pro.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <div class="title">
                                <h3 class="subtitle"> 4W Freedom Plan </h3>
                                <h4><a href="#"><i class="fa-solid fa-circle-info"></i></a></h4>
                            </div>
                            <p>Get your freedom to drive anytime anywhere in India with 24/7 Roadside assistance from ReadyAssist through our 4W Freedom plan. Th</p>
                            <p><small>Subscription will get activated in 72 hours</small></p>
                            <div class="pricing">
                                <div class="price">
                                    <div class="rupee_icon"><i class="fa-solid fa-indian-rupee-sign"></i> <span>699/-</span></div>
                                    <div class="buynow__btn">
                                        <button class="btn btn-primary">Buy Now <i class="fa-solid fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/2.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <div class="title">
                                <h3 class="subtitle"> 4W Freedom Plan </h3>
                                <h4><a href="#"><i class="fa-solid fa-circle-info"></i></a></h4>
                            </div>
                            <p>Get your freedom to drive anytime anywhere in India with 24/7 Roadside assistance from ReadyAssist through our 4W Freedom plan. Th</p>
                            <p><small>Subscription will get activated in 72 hours</small></p>
                            <div class="pricing">
                                <div class="price">
                                    <div class="rupee_icon"><i class="fa-solid fa-indian-rupee-sign"></i> <span>699/-</span></div>
                                    <div class="buynow__btn">
                                        <button class="btn btn-primary">Buy Now <i class="fa-solid fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/freedom.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <div class="title">
                                <h3 class="subtitle"> 4W Freedom Plan </h3>
                                <h4><a href="#"><i class="fa-solid fa-circle-info"></i></a></h4>
                            </div>
                            <p>Get your freedom to drive anytime anywhere in India with 24/7 Roadside assistance from ReadyAssist through our 4W Freedom plan. Th</p>
                            <p><small>Subscription will get activated in 72 hours</small></p>
                            <div class="pricing">
                                <div class="price">
                                    <div class="rupee_icon"><i class="fa-solid fa-indian-rupee-sign"></i> <span>699/-</span></div>
                                    <div class="buynow__btn">
                                        <button class="btn btn-primary">Buy Now <i class="fa-solid fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                



            </owl-carousel-o>
        </div>
    </div>